.App-bar > div {
  margin: 0 !important;
}

.App-bar {
  background-color: #F5F5F5!important;
}

fa {
  color: #F5F5F5 !important;
}

.App-title {
  display: inline-block;
  width: 150px;
}

.Main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  min-width: 300px;
}

.CreateTokenFactory-form, .SearchTokenFactory-form, .CreateTokenFactoryResults, .SearchTokenFactoryResults, .MintToken-form, .MintTokenResults {
  display: grid;
  grid-template-rows: repeat(1fr);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  min-width: 300px;
}

.SearchTokenFactoryResults {
  text-align: center;
  margin-top: 80px;
  grid-template-rows: 80px 1fr;
  height: 100%;
}

.SearchTokenFactoryResults-list {
  max-height: 600px;
  overflow-y: scroll;
}

.last-child-margin-bottom:last-child {
  /* margin-bottom: 10px !important; */
}

/* .SearchTokenFactoryResults {
  text-align: center;
  width: 40%;
  min-width: 300px;
  max-height: 100%;
  padding-top: 150px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  grid-template-rows: 1fr 1fr;
}

.SearchTokenFactoryResults-list {
  overflow: scroll;
} */

.button-link {
  display: inline-block;
}

.button-lg {
  height: 64px !important;
  line-height: 64px !important;
}

.button-lg > button {
  height: 64px !important;
  line-height: 64px !important;
}

.button-lg > button > div {
  height: 64px !important;
  line-height: 64px !important;
}

.buffer-top-lg {
  margin-top: 30px;
}

.buffer-top-md {
  margin-top: 18px;
}

.justify-center {
  justify-self: center;
}

.break-word {
  word-break: break-word;
}

.full-width {
  width: 100% !important;
}

.no-margin {
  margin: 0 !important;
}

.margin-bottom-sm {
  margin-bottom: 8px !important;
}

.muidocs-icon-custom-github:before {
  content: "\e625";
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
